<div class="calculator-{{ style }}">
    <div class="calculator-top-{{ style }}">
        <input type="text" class="calculator-screen-{{ style }}" [(ngModel)]="result" disabled />
    </div>
    <div class="calculator-buttons-{{ style }}">

        <span class="block-span-{{ style }} block-1"></span>
        <span class="block-span-{{ style }} block-2"></span>
        <button (click)="onOperatorButtonClick('%')" type="button"
            class="operator-percent-{{ style }} function-button-{{ style }}">%</button>
        <button (click)="onOperatorButtonClick('MU')" type="button"
            class="operator-MU-{{ style }} function-button-{{ style }}">MU</button>
        <button (click)="onOperatorButtonClick('MC')" type="button"
            class="operator-MC-{{ style }} function-button-{{ style }}">MC</button>
        <button (click)="onOperatorButtonClick('MR')" type="button"
            class="operator-MR-{{ style }} function-button-{{ style }}">MR</button>
        <button (click)="onOperatorButtonClick('M-')" type="button"
            class="operator-MMinus-{{ style }} function-button-{{ style }}">M-</button>
        <button (click)="onOperatorButtonClick('M+')" type="button"
            class="operator-MPlus-{{ style }} function-button-{{ style }}">M+</button>
        <button (click)="onOperatorButtonClick('±')" type="button"
            class="operator-Change-{{ style }} function-button-{{ style }}">±</button>
        <button (click)="onOperatorButtonClick('delete')" type="button"
            class="operator-Delete-{{ style }} function-button-{{ style }}">→</button>
        <button (click)="onOperatorButtonClick('plus')" type="button"
            class="operator-Plus-{{ style }} function-button-{{ style }}">+</button>
        <button (click)="onOperatorButtonClick('minus')" type="button"
            class="operator-Minus-{{ style }} function-button-{{ style }}">-</button>
        <button (click)="onOperatorButtonClick('cross')" type="button"
            class="operator-Cross-{{ style }} function-button-{{ style }}">×</button>
        <button (click)="onOperatorButtonClick('remove')" type="button"
            class="operator-Remove-{{ style }} function-button-{{ style }}">÷</button>
        <button (click)="onOperatorButtonClick('decimal')" type="button"
            class="operator-Decimal-{{ style }} decimal function-button-{{ style }} ">.</button>
        <button (click)="onOperatorButtonClick('all-clear')" type="button"
            class="operator-AC-{{ style }} all-clear-{{ style }} function-button-{{ style }} ">AC</button>
        <button (click)="onOperatorButtonClick('equal')" type="button"
            class=" operator-Equal-{{ style }} function-button-{{ style }}">=</button>
        <button (click)="onChangeStyleButtonClick()" type="button"
            class="operator-Switch-{{ style }} function-button-{{ style }}">切換</button>
        <button (click)="onOperatorButtonClick('ce')" type="button"
            class="operator-CE-{{ style }} function-button-{{ style }}">CE</button>
        <button (click)="onOperatorButtonClick('root')" type="button"
            class="operator-Root-{{ style }} function-button-{{ style }}">√</button>
        <button (click)="onOperatorButtonClick('MRC')" type="button"
            class="operator-MRC-{{ style }} function-button-{{ style }}">MRC</button>


        <button (click)="onNumberButtonClick('9')" type="button"
            class="number-button-{{ style }} number-9-{{ style }}">9</button>
        <button (click)="onNumberButtonClick('8')" type="button"
            class="number-button-{{ style }} number-8-{{ style }}">8</button>
        <button (click)="onNumberButtonClick('7')" type="button"
            class="number-button-{{ style }} number-7-{{ style }}">7</button>
        <button (click)="onNumberButtonClick('6')" type="button"
            class="number-button-{{ style }} number-6-{{ style }}">6</button>
        <button (click)="onNumberButtonClick('5')" type="button"
            class="number-button-{{ style }} number-5-{{ style }}">5</button>
        <button (click)="onNumberButtonClick('4')" type="button"
            class="number-button-{{ style }} number-4-{{ style }}">4</button>
        <button (click)="onNumberButtonClick('3')" type="button"
            class="number-button-{{ style }} number-3-{{ style }}">3</button>
        <button (click)="onNumberButtonClick('2')" type="button"
            class="number-button-{{ style }} number-2-{{ style }}">2</button>
        <button (click)="onNumberButtonClick('1')" type="button"
            class="number-button-{{ style }} number-1-{{ style }}">1</button>
        <button (click)="onNumberButtonClick('0')" type="button"
            class="number-button-{{ style }} number-0-{{ style }}">0</button>
        <button (click)="onNumberButtonClick('00')" type="button"
            class="number-button-{{ style }} number-00-{{ style }}" value="00">0
            0</button>
    </div>
</div>