<div class="timer-bg">
    <div *ngIf="viewClock" class="clock-container">
        <span class="clock-view">{{ countTime }}</span>
        <span class="font-seconds">seconds</span>
    </div>
    <div *ngIf="!viewClock" class="setting-container">
        <span class="timmer-container timmer" (click)="onClockClick('set time')">{{ setTime }}</span>
        <div class="warning-bar">
            <span class="warning-timer" (click)="onClockClick('set warning time')">{{ warningTime }}</span>
            <span class="yellow-lock"><i class="fa-solid fa-lock"></i></span>
            <span class="red-lock"><i class="fa-solid fa-lock"></i></span>
        </div>
    </div>
    <div class="timeline-{{ viewClock }}">
        <div class="timeline-segment segment1"></div>
        <div class="timeline-segment segment2"></div>
    </div>
    <div class="caret-container">
        <div class="up-caret"><i class="fa-solid fa-caret-up"></i></div>
    </div>
    <div class="function-bar">
        <span class="information-{{ showSetting }}"><i class="fa-solid fa-circle-info"></i> </span>
        <span class="setting-{{ showSetting }}" disabled><i class="fa-solid fa-gear"></i></span>
        <span *ngIf="!isStart" class="start" (click)="onStartClick()"><i class="fa-solid fa-play"></i></span>
        <span *ngIf="isStart" class="start" (click)="onPauseClick()"><i class="fa-solid fa-pause"></i></span>
        <span class="restart" (click)="onResetClick()"><i class="fa-solid fa-rotate-right"></i></span>
        <span class="share-{{ showSetting }}"><i class="fa-regular fa-share-from-square"></i></span>
    </div>
</div>